html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'KyivTypeSans-Regular';
  src: url('/assets/fonts/KyivTypeSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'KyivTypeSans-Medium';
  src: url('/assets/fonts/KyivTypeSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Gerbera-Light';
  src: url('/assets/fonts/Gerbera-Light.ttf');
  font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
  --gray: #aabbcc;
  --black: #000000;
  --white: #ffffff;
  --status-logo: #4db87d;
  --status-red: #f94949;
  --status-strok: #e4f1f9;
  --gradients-bl-gra: linear-gradient(to bottom right, #92c7e9, #cfe6f4);
  --gradients-or-gra: linear-gradient(to bottom right, #e9a392, #f4f3cf);
  --gradients-gr-gra: linear-gradient(to bottom right, #92e9ae, #cff4e3);
  --color-bl1: #85b6d6;
  --color-bl2: #c9e3f3;
  --color-or1: #da8f75;
  --color-or2: #d6ab86;
  --color-gr1: #86d6a0;
  --color-gr2: #a3ecc9;
}

.name-medium {
  font-family: 'KyivTypeSans-Medium', sans-serif;
  font-weight: 500;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .name-medium {
    font-size: 40px;
  }
}

.h2-regular {
  font-family: 'KyivTypeSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .h2-regular {
    font-size: 32px;
    letter-spacing: 0.01em;
  }
}

.h3-regular {
  font-family: 'KyivTypeSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .h3-regular {
    font-size: 32px;
  }
}

.h1-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--white);
}

@media (max-width: 320px) {
  .h1-medium {
    font-size: 24px;
    line-height: 120%;
  }
}

.h4-meduim {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: var(--white);
}

@media (max-width: 320px) {
  .h4-meduim {
    font-size: 18px;
  }
}

.large-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
}

@media (max-width: 320px) {
  .large-regular {
    font-size: 16px;
    line-height: 140%;
  }
}

.base-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--white);
}

@media (max-width: 320px) {
  .base-regular {
    font-size: 14px;
    line-height: 140%;
  }
}

.smale-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--white);
}

.extra-smale-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 120%;
  color: var(--white);
}

.button-regular-1 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .button-regular-1 {
    font-size: 16px;
    letter-spacing: 0.03em;
  }
}

.button-regular-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .button-regular-2 {
    font-size: 14px;
  }
}

.menu-rugalar-1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .menu-rugalar-1 {
    font-size: 14px;
  }
}

.menu-rugalar-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--white);
}

@media (max-width: 320px) {
  .menu-rugalar-2 {
    font-size: 14px;
  }
}

html,
body {
  scroll-behavior: smooth;
  overflow: overlay;
  width: 100%;
  overflow-x: hidden;
}

.body {
  font-family: 'KyivTypeSans', sans-serif;
  color: var(--basik-black);
}
