@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

@font-face {
  font-family: 'KyivTypeSans-Regular';
  src: url('/assets/fonts/KyivTypeSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'KyivTypeSans-Medium';
  src: url('/assets/fonts/KyivTypeSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Gerbera-Light';
  src: url('/assets/fonts/Gerbera-Light.ttf');
  font-weight: 300;
}

:root {
  --gray: #aabbcc;
  --black: #000000;
  --white: #ffffff;
  --status-logo: #4db87d;
  --status-red: #f94949;
  --status-strok: #e4f1f9;
  --gradients-bl-gra: linear-gradient(to bottom right, #92c7e9, #cfe6f4);
  --gradients-or-gra: linear-gradient(to bottom right, #e9a392, #f4f3cf);
  --gradients-gr-gra: linear-gradient(to bottom right, #92e9ae, #cff4e3);
  --color-bl1: #85b6d6;
  --color-bl2: #c9e3f3;
  --color-or1: #da8f75;
  --color-or2: #d6ab86;
  --color-gr1: #86d6a0;
  --color-gr2: #a3ecc9;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.name-medium {
  font-family: 'KyivTypeSans-Medium', sans-serif;
  font-weight: 500;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .name-medium {
    font-size: 40px;
  }
}

.h2-regular {
  font-family: 'KyivTypeSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .h2-regular {
    font-size: 32px;
    letter-spacing: 0.01em;
  }
}

.h3-regular {
  font-family: 'KyivTypeSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .h3-regular {
    font-size: 32px;
  }
}

.h1-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--white);
}

@media (max-width: 320px) {
  .h1-medium {
    font-size: 24px;
    line-height: 120%;
  }
}

.h4-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: var(--white);
}

@media (max-width: 320px) {
  .h4-medium {
    font-size: 18px;
  }
}

.large-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
}

@media (max-width: 320px) {
  .large-regular {
    font-size: 16px;
    line-height: 140%;
  }
}

.base-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--white);
}

@media (max-width: 320px) {
  .base-regular {
    font-size: 14px;
    line-height: 140%;
  }
}

.smale-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--white);
}

.extra-smale-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 120%;
  color: var(--white);
}

.button-regular-1 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .button-regular-1 {
    font-size: 16px;
    letter-spacing: 0.03em;
  }
}

.button-regular-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);
}

@media (max-width: 320px) {
  .button-regular-2 {
    font-size: 14px;
  }
}

.menu-regular-1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);
}

.menu-regular-1 span {
  position: relative;
}

.menu-regular-1 span:after {
  position: absolute;
  opacity: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 1px;
  background-color: var(--white);
  content: "";
  transition: all 0.3s ease-out;
}

.menu-regular-1:hover {
  font-weight: 500;
}
.menu-regular-1:hover span:after {
  opacity: 1;
}

@media (max-width: 320px) {
  .menu-regular-1 {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .menu-regular-2 {
    font-size: 14px;
  }
}

html,
body {
  scroll-behavior: smooth;
  overflow: overlay;
  width: 100%;
  overflow-x: hidden;
}

.body {
  font-family: 'Inter', sans-serif;
  color: var(--black);
}

.body__wrapper {
  padding: 19px 30px 30px;
  min-height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;
  background: var(--white);
  z-index: 1;
}

.container {
  max-width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto
}

.header {
  border-radius: 64px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/images/header-background.png"), linear-gradient(90deg, rgba(148, 199, 233, 0.5) 0%, rgba(200, 227, 243, 0.5) 100%);
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  max-width: 1357px;
  width: 100%;
}

.header__row--top {
  display: flex;
  gap: 24px;
  align-items: center;
  height: 96px;
}

.header__row--middle {
  margin-top: 141px;
  max-width: 708px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: start;
}

.header-row--bottom {
  align-self: start;
  margin-bottom: 101px;
}

.header__logo--container {
  display: flex;
  align-items: center;
}

.header__logo--container:hover .header__logo--company {
  color: var(--status-logo);
}

.header__logo--logo {
  width: 32px;
  height: 32px;
}

.header__logo--company {
  color: var(--white);
  width: 137px;
  height: 17px;
  transition: color 0.3s linear;
}

.header-nav__list {
  display: flex;
  gap: 8px;
}

.header-nav__link {
  display: block;
  padding: 12px 8px;
  white-space: nowrap;
}

.header__social {
  display: flex;
  gap: 6px;
}

.header-social__item svg {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease-out;
}

.item-telegram {
  color: #2F89CE;
}

.item-telegram:hover {
  color: #C9E3F3;
}

.item-watsapp {
  color: #48C95F;
}

.item-watsapp:hover {
  color: #A3ECC9;
}

.item-viber {
  color: #48C95F;
}

.item-viber:hover {
  color: #CEA9ED;
}

.header__phone {
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px 12px;
  height: 64px;
  max-width: 324px;
  width: 100%;
  background-color: var(--color-bl1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__phone span {
  padding: 0 16px;
  width: 300px;

  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
}

.header__callback-form {
  width: 100%;
  margin-top: 80px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  padding: 30px 84px;

  display: flex;
  gap: 24px;
}

.callback-form__column {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.callback-form-item {
  width: 324px;
  height: 48px;
}

.label-input input {
  position: absolute;

  box-sizing: border-box;

  padding: 0 24px;
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 1px solid var(--status-strok);

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--gray);
  background: transparent;

  outline: none;

  z-index: 1111;

  transition: all 0.3s ease-out;
}

.label-input input::placeholder {
  color: var(--gray);
  opacity: 0;
}

.label-input span {
  position: absolute;
  top: 10px;
  left: 24px;

  opacity: 1;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--gray);
  transition: transform 0.2s linear;
}

.label-input input:focus {
  outline: none;
}

.label-input input:focus + span
{
  transform: translateY(-17px);
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: var(--gray);
}

.label-input input:valid + span {
  opacity: 0;
}

.label-input .error {
  color: var(--status-red);
}

.callback-form__label-input {
  display: flex;
  flex-direction: column;
  position: relative;

  line-height: 160%;

  width: 100%;
  height: 100%;
}

.callback-form__error.active {
  display: flex;
  gap: 10px;
  align-items: center;
}

.callback-form__error {
  display: none;
  margin-top: 20px;
}

.callback-form-error__icon {
  fill: var(--status-red);
  width: 20px;
  height: 20px;
}

.callback-form__error span {
  color: var(--status-red);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}